* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 /* background-image: url(../img/orange.jpg);*/
  background-image: url(../img/autumn.jpg);
  background-size: cover;

}

#principal-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(182, 95, 9, 0.521);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  padding: 10em;
  gap: 2em;
  z-index: 1;
}*/

#total-mushrooms{
  position: absolute;
  /*top: 25%;
  right: 15%;*/
  font-size: 2em;
  color: rgb(255, 255, 255);
  z-index: 4;
  padding-top: 10px;
}

#play-button {
  position: absolute;
  bottom: 10%;
  width: 20%;
  cursor: pointer;
  transition: 300ms;
}

#game-area {
  width: 80vw;
  height: 80vh;
  position: relative;
  background-color: rgba(2, 68, 70, 0.462);
  background-size: cover;

}

#player {
  width: 110px;
  height: 110px;
  position: absolute;
  /*background-color: rgba(0, 0, 0, 0.937);*/
  background-image: url(../img/player2.png);
  top: 50%;
  z-index: 3;
  background-size: cover;
}

.fungus {
  width: 80px;
  height: 80px;
  background-size: cover;
  position: absolute;
  background-image: url(../img/fungi.png);
}

.enemy {
  width: 90px;
  height: 90px;
  /*background-color: brown;*/
  position: absolute;
  background-image: url(../img/beare.png);
  background-size: cover;
}

#lives{
  position: absolute;
  z-index: 0;
}

#you-win{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  font-family: monospace;
  font-size: 60px;
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  padding: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: none;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  text-shadow: 1px 1px 2px rgb(255, 140, 0), 0 0 1em rgb(255, 115, 115),
    0 0 0.2em rgb(218, 170, 37);
}