* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-image: url(../img/orange.jpg);*/
}

#game-area {
  width: 80vw;
  height: 80vh;
  position: relative;
  /*background-image: url(../img/forest.jpg);*/
  background-color: rgb(0, 128, 115);
}

#player {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.937);
  top: 50%;
}

.fungus {
  width: 40px;
  height: 40px;
  background-color: darkgoldenrod;
  background-size: cover;
}

.enemy {
  width: 60px;
  height: 60px;
  background-color: brown;
}
