* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-area {
  width: 80vw;
  height: 80vh;
  background-color: rgb(34, 163, 107);
  position:relative;
}

#player {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: rgba(12, 67, 61, 0.937);
  top: 50%;
  z-index: 10000;
}

.fungus{
    width:60px;
    height: 60px;
    background-color: darkgoldenrod;
    background-size: cover;
}
